In [56]:
from pathlib import Path # for accessing the operating system directories and files
import pandas as pd

import re  # For regular expressions
import nltk
from nltk.corpus import stopwords  # For stop word removal (requires NLTK)
from nltk.stem import PorterStemmer  # For stemming (requires NLTK)
from nltk.tokenize import word_tokenize  # For tokenization (requires NLTK)

In [61]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\NOurie\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\NOurie\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

<h1> What directories we have inside Datasets </h1>

In [21]:
# directory you want to list
directory_path = Path('C:/Users/NOurie/OneDrive/AA FONTYES/AI_S_6/GP Aireas/On_GIT/AirQuality/Datasets')

# .iterdir() method to iterate through all items (files and directories) in the directory
for item in directory_path.iterdir():
    item_name = item.name
    print(item_name)

archive
Biden_Climate Change tweets_sentiments
COP
Environmental_News_NLP_Dataset
News_Article_Category_Dataset
Twitter_Climate_Change_Sentiment_Dataset
Un_organised_colelction

<h4> Inside All directories in dataset </h4>
<h6>Commented as the list is TOOO long</h6>

In [38]:
# def list_files_in_directory(directory_path):
#     directory = Path(directory_path)
#     for file in directory.glob('**/*'):
#         if file.is_file():
#             relative_path = file.relative_to(directory)
#             print(relative_path)

# directory_path = 'C:/Users/NOurie/OneDrive/AA FONTYES/AI_S_6/GP Aireas/On_GIT/AirQuality/Datasets'

# list_files_in_directory(directory_path)

<h1> Inside end directory </h1>

In [32]:
# Twitter Climate Change Sentiment Dataset

def list_files_in_directory(directory_path):
    directory = Path(directory_path)
    for file in directory.glob('**/*'):
        if file.is_file():
            relative_path = file.relative_to(directory)
            print(relative_path)

directory_path = 'C:/Users/NOurie/OneDrive/AA FONTYES/AI_S_6/GP Aireas/On_GIT/AirQuality/Datasets/News_Article_Category_Dataset'

list_files_in_directory(directory_path)

info.txt
news-article-categories.csv

1- Create one Pandas dataset for each directory <br>
2- Orient towards the start with Tweets <br>

3- remove punctuation with Regular expressions <br>
4- lowercase all letters<br> 

5- choosing if we want to take out the stop wards or not, and if yes what are the agreed on stop words<br>
6- tokenize the all words and implement the decision on stop wards<br>
7- use the tokenized words to create a bag of words<br>

I do not see the value of Document term Matrix in this stage yet<br>

8- create bag of words by<br>

In [36]:
df_news_article_categories = pd.read_csv('./Datasets/News_Article_Category_Dataset/news-article-categories.csv')
df_news_article_categories_GI = pd.read_csv('./Datasets/News_Article_Category_Dataset/info.txt', sep='\t')

In [37]:
print(df_news_article_categories.shape)
print(df_news_article_categories.columns)
df_news_article_categories.head(3)

(6877, 3)
Index(['category', 'title', 'body'], dtype='object')

,category,title,body
0,ARTS & CULTURE,Modeling Agencies Enabled Sexual Predators For...,"In October 2017, Carolyn Kramer received a dis..."
1,ARTS & CULTURE,Actor Jeff Hiller Talks “Bright Colors And Bol...,This week I talked with actor Jeff Hiller abou...
2,ARTS & CULTURE,New Yorker Cover Puts Trump 'In The Hole' Afte...,The New Yorker is taking on President Donald T...

In [19]:
df_Twitter_Climate_Change_Sentiment_Dataset= pd.read_csv('./Datasets/Twitter_Climate_Change_Sentiment_Dataset/twitter_sentiment_data.csv')
df_Twitter_Climate_Change_Sentiment_Dataset_GI = pd.read_csv('./Datasets/Twitter_Climate_Change_Sentiment_Dataset/general info.txt', sep='\t')

In [18]:
print(df_Twitter_Climate_Change_Sentiment_Dataset.shape)
print(df_Twitter_Climate_Change_Sentiment_Dataset.columns)
df_Twitter_Climate_Change_Sentiment_Dataset.head(3)

(43943, 3)
Index(['sentiment', 'message', 'tweetid'], dtype='object')

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256

In [34]:
df_Biden_Climate_Change_tweets_sentiments= pd.read_csv('./Datasets/Biden_Climate_Change_tweets_sentiments/Biden_Climate_Change_tweets_sentiments.csv')
df_Biden_Climate_Change_tweets_sentiments_GI = pd.read_csv('./Datasets/Biden_Climate_Change_tweets_sentiments/info.txt', sep='\t')

In [35]:
print(df_Biden_Climate_Change_tweets_sentiments.shape)
print(df_Biden_Climate_Change_tweets_sentiments.columns)
df_Biden_Climate_Change_tweets_sentiments.head(3)

(5467, 9)
Index(['Text', 'Date', 'ID', 'Username', 'Location', 'Retweets', 'Favorites',
       'Language', 'Entities'],
      dtype='object')

,Text,Date,ID,Username,Location,Retweets,Favorites,Language,Entities
0,@VeBo1991 The Greta's of the world don't suffe...,2023-03-31 04:17:45+00:00,1,X1,"Boston, MA",0,0,en,"{'hashtags': [], 'symbols': [], 'user_mentions..."
1,"Ajay Banga, the former CEO of Mastercard that ...",2023-03-31 04:17:38+00:00,2,X2,"Boston, Massachusetts",0,1,en,"{'hashtags': [], 'symbols': [], 'user_mentions..."
2,Well if you can t see the curruption now you w...,2023-03-31 04:12:39+00:00,3,X3,America,0,0,en,"{'hashtags': [], 'symbols': [], 'user_mentions..."

**Data_frames available for testing**

<ol>
  <li>df_news_article_categories</li>
  <li>df_Twitter_Climate_Change_Sentiment_Dataset</li>
  <li>df_Biden_Climate_Change_tweets_sentiments</li>
  <li></li>

</ol>

In [39]:
print(df_news_article_categories.shape)
print(df_news_article_categories.columns)
df_news_article_categories.head(3)

(6877, 3)
Index(['category', 'title', 'body'], dtype='object')

,category,title,body
0,ARTS & CULTURE,Modeling Agencies Enabled Sexual Predators For...,"In October 2017, Carolyn Kramer received a dis..."
1,ARTS & CULTURE,Actor Jeff Hiller Talks “Bright Colors And Bol...,This week I talked with actor Jeff Hiller abou...
2,ARTS & CULTURE,New Yorker Cover Puts Trump 'In The Hole' Afte...,The New Yorker is taking on President Donald T...

In [51]:
artice_data = df_news_article_categories.body[1]
print(type(artice_data))

<class 'str'>

In [53]:
data = {'text': [artice_data]}
print(type(data))

<class 'dict'>

**Really handy link for dealing with Regex**
https://regex101.com/

In [64]:

df = pd.DataFrame(data)

# 1. Text Lowercasing
df['text'] = df['text'].str.lower()

# 2. Tokenization
df['text_word_tokenize'] = df['text'].apply(word_tokenize)

# 3. Removing Punctuation
df['tokenize_alphanumeric'] = df['text_word_tokenize'].apply(lambda tokens: [word for word in tokens if word.isalnum()]) #The following function explain this code in different way 
# def filter_alphanumeric(tokens):
#     # Initialize an empty list to store cleaned tokens
#     cleaned_tokens = []
    
#     # Iterate through each token in the list of tokens
#     for token in tokens:
#         # Check if the token is alphanumeric
        # if token.isalnum():
#             # If it's alphanumeric, add it to the cleaned tokens list
#             cleaned_tokens.append(token)
    
#     return cleaned_tokens

# # Apply the filter_alphanumeric function to each row in the 'text_word_tokenize' column
# df['cleaned_text'] = df['text_word_tokenize'].apply(filter_alphanumeric)


# 4. Removing Special Characters and Symbols
df['tokenize_alphanumeric'] = df['tokenize_alphanumeric'].apply(lambda tokens: [re.sub(r'[^a-zA-Z0-9]', '', word) for word in tokens])

# 5. Stop Word Removal
stop_words = set(stopwords.words('english'))
df['tokenize_alphanumeric_noStop'] = df['tokenize_alphanumeric'].apply(lambda tokens: [word for word in tokens if word not in stop_words])

# 6. Stemming
stemmer = PorterStemmer()
df['tokenize_alphanumeric_noStop_stemmed'] = df['tokenize_alphanumeric_noStop'].apply(lambda tokens: [stemmer.stem(word) for word in tokens])

# 7. Handling Contractions (example with a simple dictionary)
contractions = {"won't": "will not", "can't": "cannot", "I'm": "I am"}
df['tokenize_alphanumeric_noStop_stemmed_Contractions'] = df['tokenize_alphanumeric_noStop_stemmed'].apply(lambda tokens: [contractions.get(word, word) for word in tokens])

# 9. Removing HTML Tags and URLs (example with regex)
df['tokenize_alphanumeric_noStop_stemmed_Contractions'] = df['tokenize_alphanumeric_noStop_stemmed_Contractions'].apply(lambda tokens: [re.sub(r'<[^>]+>', '', word) for word in tokens])
df['tokenize_alphanumeric_noStop_stemmed_Contractions'] = df['tokenize_alphanumeric_noStop_stemmed_Contractions'].apply(lambda tokens: [re.sub(r'http\S+', '', word) for word in tokens])

# 10. Handling Numbers and Digits
# df['text'] = df['text'].apply(lambda tokens: [re.sub(r'\d+', '', word) for word in tokens])

# 11. Whitespace Removal
df['tokenize_alphanumeric_noStop_stemmed_Contractions'] = df['tokenize_alphanumeric_noStop_stemmed_Contractions'].apply(lambda tokens: [word.strip() for word in tokens])

# 12. Encoding and Decoding (if needed) - Usually not needed with Pandas

# 13. Handling Missing Data - Depends on your dataset

# 15. Text Length Filtering (optional)
# df['text'] = df['text'].apply(lambda tokens: [word for word in tokens if len(word) > 2])

# Print the cleaned DataFrame
print(df)

                                                text  \
0  this week i talked with actor jeff hiller abou...

                                  text_word_tokenize  \
0  [this, week, i, talked, with, actor, jeff, hil...

                               tokenize_alphanumeric  \
0  [this, week, i, talked, with, actor, jeff, hil...

                        tokenize_alphanumeric_noStop  \
0  [week, talked, actor, jeff, hiller, hit, broad...

                tokenize_alphanumeric_noStop_stemmed  \
0  [week, talk, actor, jeff, hiller, hit, broadwa...

   tokenize_alphanumeric_noStop_stemmed_Contractions
0  [week, talk, actor, jeff, hiller, hit, broadwa...

In [72]:
len(df.tokenize_alphanumeric_noStop_stemmed_Contractions[0])
print(df.tokenize_alphanumeric_noStop_stemmed_Contractions[0])

['week', 'talk', 'actor', 'jeff', 'hiller', 'hit', 'broadway', 'play', 'bright', 'color', 'bold', 'pattern', 'join', 'januari', '17th', 'new', 'open', 'night', 'schedul', 'februari', '4th', 'hiller', 'nightcap', '30', 'rock', 'broadway', 'bloodi', 'bloodi', 'andrew', 'jackson', 'step', 'star', 'role', 'devastatingli', 'funni', 'hit', 'play', 'direct', 'michael', 'uri', 'torch', 'song', 'buyer', 'cellar', 'ugli', 'betti', 'written', 'drew', 'droeg', 'play', 'origin', 'star', 'hiller', 'continu', 'play', 'triumphant', 'broadway', 'run', 'februari', '25th', 'soho', 'playhous', 'nyc', 'bright', 'color', 'bold', 'pattern', 'josh', 'brennan', 'get', 'marri', 'palm', 'spring', 'love', 'saturday', 'afternoon', 'howev', 'night', 'becom', 'drunken', 'riot', 'friend', 'gerri', 'arriv', 'furiou', 'invit', 'say', 'pleas', 'refrain', 'wear', 'bright', 'color', 'bold', 'play', 'produc', 'zach', 'lak', 'associ', 'riki', 'kane', 'larim', 'featur', 'set', 'design', 'dara', 'wishingrad', 'tom', 'detrini', 'serv', 'associ', 'produc', 'bright', 'color', 'bold', 'pattern', 'origin', 'present', 'vs', 'theatr', 'lo', 'angel', 'direct', 'molli', 'prather', 'talk', 'jeff', 'thrill', 'perform', 'drew', 'droeg', 'hyster', 'one', 'man', 'show', 'spin', 'lgbtq', 'issu', 'listen', 'ask', 'see', 'lgbtq', 'commun', 'move', 'forward', 'trump', 'administr', 'hiller', 'state', 'jeff', 'hiller', 'regular', 'perform', 'ucb', 'theatr', 'new', 'york', 'citi', 'lo', 'angel', 'jeff', 'also', 'written', 'star', 'pilot', 'univers', 'cabl', 'product', 'well', 'act', 'pilot', 'nbc', 'fox', 'cb', 'step', 'role', 'gerri', 'hit', 'broadway', 'play', 'bright', 'color', 'bold', 'pattern', 'start', 'januari', '17th', 'soho', 'playhous', 'nyc', 'info', 'tix', 'listen', 'lgbt', 'leader', 'alli', 'celebr', 'podcast', 'outtak', 'download', 'podcast', 'itun']